<div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
<div class="row ajust">
    <div class="form-group col-md-9 ">
        <div class="custom-file">
            <input type="file" id="validatedCustomFile" accept="image/*" (change)="selectFile($event)">
            <label class="custom-file-label" for="validatedCustomFile">{{nameFile}}</label>
        </div>
    </div>
    <div class="form-group col-md-2">
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
    </div>

    <!-- <label class="btn btn-default">
                
                <input id="files"type="file" accept="image/*"  (change)="selectFile($event)" >
            </label> -->
</div>